@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-background: rgb(255, 255, 255);
  --background: url('./light-noise.svg');
}

:root.dark {
  --clr-background: rgb(24 24 27);
  --background: url('./dark-noise.svg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  transition: all 150ms ease-out;
}

body {
  background: var(--background);
}
